body{
  padding:0px;
  margin:0px;
  font-family:Arial;
  }
  

img{
      margin-top: 0%;
      width: 100%;
      height: 450px;
      border: 2px solid hsl(352.88deg 53.64% 43.14%);
      margin: none;
      vertical-align: middle;
}
      

.square {
      height: 300px;
      width: 450px;
      display: flex;
      align-items: center;
      justify-content: center;
    }


.box {
      display: flex;
    }

.negro {
      background-color: black;
}
    
.rojo {
      background-color: hsl(352.88deg 53.64% 43.14%);
}
    
.azul {
      background-color: hsl(252.86deg 21.88% 25.1%);
}


.textoinline{
      display: inline-flex;
}


.class_blue{
      background-color: hsl(252.86deg 21.88% 25.1%);
}

.class_red{
      background-color: rgb(180, 14, 14);
      display: inline-block;
}  

.class_white{
      background-color: aliceblue;
}

img.derecha {
      float:right; 
      width:250px;
      height:250px;
   }

   img.izquierda {
      float:left; 
      width:250px;
      height:250px;
   }

   .cuadrado {
      width: 150px;           
      height: 150px;          
      background: rgba(0, 4, 255, 0.589);       
      border: 1px solid #000; 
    }
    
    .imagen{
      width: 150px;           
      height: 150px;          

    }

    .alCentro {
      padding: 25px 0;
      text-align: center;
    }
    
    .triangulo{
      width: 0px;
      height: 0px;
      border-bottom: 150px solid transparent;
      border-left: 150px solid rgba(0, 4, 255, 0.589);
      }

      .animated {
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
          }
          
          .fast{
                -webkit-animation-duration: 0.2s;
                animation-duration: 0.7s;
                -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
          }
          
          .slow{
                -webkit-animation-duration: 3.4s;
                animation-duration: 6.7s;
                -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
          }
          @-webkit-keyframes bounceInDown {
            from, 60%, 75%, 90%, to {
              -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
              animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            }
          
            0% {
              opacity: 0;
              -webkit-transform: translate3d(0, -3000px, 0);
              transform: translate3d(0, -3000px, 0);
            }
          
            60% {
              opacity: 1;
              -webkit-transform: translate3d(0, 25px, 0);
              transform: translate3d(0, 25px, 0);
            }
          
            75% {
              -webkit-transform: translate3d(0, -10px, 0);
              transform: translate3d(0, -10px, 0);
            }
          
            90% {
              -webkit-transform: translate3d(0, 5px, 0);
              transform: translate3d(0, 5px, 0);
            }
          
            to {
              -webkit-transform: none;
              transform: none;
            }
          }
          
          @keyframes bounceInDown {
            from, 60%, 75%, 90%, to {
              -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
              animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            }
          
            0% {
              opacity: 0;
              -webkit-transform: translate3d(0, -3000px, 0);
              transform: translate3d(0, -3000px, 0);
            }
          
            60% {
              opacity: 1;
              -webkit-transform: translate3d(0, 25px, 0);
              transform: translate3d(0, 25px, 0);
            }
          
            75% {
              -webkit-transform: translate3d(0, -10px, 0);
              transform: translate3d(0, -10px, 0);
            }
          
            90% {
              -webkit-transform: translate3d(0, 5px, 0);
              transform: translate3d(0, 5px, 0);
            }
          
            to {
              -webkit-transform: none;
              transform: none;
            }
          }
          
          .bounceInDown {
            -webkit-animation-name: bounceInDown;
            animation-name: bounceInDown;
          }
                    
          @-webkit-keyframes fadeInLeftBig {
            from {
              opacity: 0;
              -webkit-transform: translate3d(-2000px, 0, 0);
              transform: translate3d(-2000px, 0, 0);
            }
          
            to {
              opacity: 1;
              -webkit-transform: none;
              transform: none;
            }
          }
          
          @keyframes fadeInLeftBig {
            from {
              opacity: 0;
              -webkit-transform: translate3d(-2000px, 0, 0);
              transform: translate3d(-2000px, 0, 0);
            }
          
            to {
              opacity: 1;
              -webkit-transform: none;
              transform: none;
            }
          }
          
          .fadeInLeftBig {
            -webkit-animation-name: fadeInLeftBig;
            animation-name: fadeInLeftBig;
          }


          @-webkit-keyframes bounceInRight {
            from, 60%, 75%, 90%, to {
              -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
              animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            }
          
            from {
              opacity: 0;
              -webkit-transform: translate3d(3000px, 0, 0);
              transform: translate3d(3000px, 0, 0);
            }
          
            60% {
              opacity: 1;
              -webkit-transform: translate3d(-25px, 0, 0);
              transform: translate3d(-25px, 0, 0);
            }
          
            75% {
              -webkit-transform: translate3d(10px, 0, 0);
              transform: translate3d(10px, 0, 0);
            }
          
            90% {
              -webkit-transform: translate3d(-5px, 0, 0);
              transform: translate3d(-5px, 0, 0);
            }
          
            to {
              -webkit-transform: none;
              transform: none;
            }
          }
          
          @keyframes bounceInRight {
            from, 60%, 75%, 90%, to {
              -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
              animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            }
          
            from {
              opacity: 0;
              -webkit-transform: translate3d(3000px, 0, 0);
              transform: translate3d(3000px, 0, 0);
            }
          
            60% {
              opacity: 1;
              -webkit-transform: translate3d(-25px, 0, 0);
              transform: translate3d(-25px, 0, 0);
            }
          
            75% {
              -webkit-transform: translate3d(10px, 0, 0);
              transform: translate3d(10px, 0, 0);
            }
          
            90% {
              -webkit-transform: translate3d(-5px, 0, 0);
              transform: translate3d(-5px, 0, 0);
            }
          
            to {
              -webkit-transform: none;
              transform: none;
            }
          }
          
          .bounceInRight {
            -webkit-animation-name: bounceInRight;
            animation-name: bounceInRight;
          }
h4{
color:red;
text-align: center;

}

.sam {
  background-color: hsl(252.86deg 21.88% 25.1%);
  color: white;
}

.logo_rojo {
  height: 20px;
  width: 40px;

}

#table2 {
  text-align: center;
}




#footer{
  height: 40px;
  border-top:1px solid grey;
  font-size:14px;
  text-align:center;
  }

  /* rojo letras: hsl(352.88deg 53.64% 43.14%)*/